.about {
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 150px 10px 150px;
    width: 1000px;
    /* Increased width */
}

.profilePic {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    max-width: 700px;
}

.about-content {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    width: 84%;
    /* Ensure it takes full width of the parent */
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    border-radius: 5px;
}

.social-icon:hover {
    transform: scale(1.1);
}

.experience {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    width: 86%;
    /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
    /* Center the experience box */
}