.about {
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 150px 10px 150px;
}

.profilePic {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    max-width: 600px;
}
.about {
    text-align: center;
    padding: 20px;
}

.back-button {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 10px 40px;
    background-color: #8cd296;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 3px;
    margin: 5px;
    color: rgba(255, 0, 144, 0.733);
    width: 150px;
    /* Fixed width */
    height: 50px;
    /* Fixed height */
    display: inline-block;
    /* Ensure buttons are inline-block */
    text-align: center;
    /* Center text horizontally */
    line-height: 30px;
    /* Center text vertically */
}

.back-button:hover {
    background-color: rgba(255, 0, 144, 0.733);
    color: #fff;
}

.about-content {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}