/* Center the container in the middle of the screen */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.basketbin {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center text */
}

.basketbin h2 {
    color: rgba(255, 0, 144, 0.733);
    margin-bottom: 10px;
}

.basketbin p {
    color: rgba(255, 0, 144, 0.733);
    line-height: 1.6;
}

.basketbin a {
    color: rgba(255, 0, 144, 0.733);
    text-decoration: none;
}

.basketbin a:hover {
    text-decoration: underline;
}

.basketbin img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

/* Position the links at the top right */
.top-right-links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-right-links a {
    margin-left: 10px;
    color: rgba(255, 0, 144, 0.733);
    text-decoration: none;
}

.top-right-links a:hover {
    text-decoration: underline;
}