.basketbin {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center text */
}

.basketbin h2 {
    color: rgba(255, 0, 144, 0.733);
    margin-bottom: 10px;
    text-align: center;
}

.basketbin p {
    color: rgba(255, 0, 144, 0.733);
    line-height: 1.6;
    text-align: center;
}

.basketbin a {
    color: rgba(255, 0, 144, 0.733);
    text-decoration: none;
    text-align: center;
}

.basketbin a:hover {
    text-decoration: underline;
}

.basketbin img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}