.project-info {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5p;
}

.center-wrapper {
    height: 150vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-info h2 {
    color: #FF0090;
    margin-bottom: 10px;
}

.project-info p {
    color: #FF0090;
    line-height: 1.6;
}

.project-info a {
    color: #008080;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}

.project-info img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}