.design {
    text-align: center;
    padding: 20px;
    color: rgba(255, 0, 144, 0.733);
}

.back-button {
    border: 1px solid rgba(255, 0, 144, 0.733);
    padding: 4px 8px;
    background-color: #8cd296;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 3px;
    color: rgba(255, 0, 144, 0.733);
    position: fixed;
    top: 40px;
    /* Adjust this value to set the vertical position */
    left: 1px;
    /* Adjust this value to set the horizontal position */
    z-index: 100;
    /* Ensure it is above other elements */
}

.back-button:hover {
    background-color: rgba(255, 0, 144, 0.733);
    color: #fff;
}